@import '../../../mixins';

.loader {
  height: calc(100vh - #{$header-height});

  img {
    @include absolute-center;
    animation: rotation 1200ms infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}