@import '../../../../mixins';

.product-details {
  .close {
    @include size(14px);
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0px 0px 1px #fff); //icon is barely visible on dark images
  }

  .img-box {
    height: 354px;
    width: 100%;

    @include media-breakpoint(landscape, max, height) {
      height: 200px;
    }

    img {
      @include size(100%);
      object-fit: cover;
      border-radius: $border-radius-top;
    }
  }

  .content {
    background-color: $white;
    padding: $spacing-medium;
    border-radius: $border-radius-bottom;

    @include media-breakpoint(md) {
      padding: $spacing-small $spacing-big $spacing-xl;
    }

    .title {
      @include big-font;
    }

    .description {
      @include normal-font;
      color: $dark-gray;
    }
  }
}