//colors
$white: #fff;
$black: #1A1B1D;
$orange: #F9A52B;
$light-blue: #4460F7;
$dark-blue: #2140E8;
$light-gray: #F0F1F5;
$medium-gray: #E0E2EA;
$gray: #B9BDCF;
$dark-gray: #9194A5;
$body-bg: #f2f2f2;

$small-font: 14px;
$normal-font: 18px;
$big-font: 24px;


$header-height: 144px;
$container-width: 1200px;
$small-radius: 4px;
$big-radius: 8px;
$border-radius-top: $big-radius $big-radius 0 0;
$border-radius-bottom: 0 0 $big-radius $big-radius;

