@import 'mixins';

body {
  @include small-font;
  margin: 0;
  background-color: $body-bg;

  & * {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $spacing-medium;
}

.row {
  margin: 0 -14px;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

iframe {
  display: none;
}

.error {
  @include normal-font;
  color: red;
}

h2 {
  font-size: 30px;
  line-height: 1.333;
}

.title {
  @include normal-font;
  color: $black;
  margin-bottom: $spacing-xs;
}

.description {
  @include small-font;
  color: $dark-gray;
}

.input-field {
  height: $input-height;
  border-radius: $big-radius;
  border: 1px solid #E0E2EA;
  padding: $spacing-small;
  width: 100%;
}

%button {
  @include small-font;
  border-radius: $small-radius;
  padding: 11px 30px;
  cursor: pointer;
  border: 1px solid;
  text-align: center;
  transition: all 0.3s;
}

.button-blue {
  @extend %button;
  background: $light-blue;
  border-color: $light-blue;
  color: $white;

  &:hover {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }

  &:disabled {
    background-color: $dark-gray;
    border-color: $dark-gray;
  }
}

.button-white {
  @extend %button;
  background-color: $white;
  color: $light-blue;
  border-color: $light-blue;

  a {
    color: $light-blue;
    text-decoration: none;
  }

  &:hover {
    border-color: $dark-blue;
    color: $dark-blue;

    a {
      color: $dark-blue;
    }
  }

  &:disabled {
    background-color: $white;
    border-color: $dark-gray;

    a {
      color: $dark-gray;
    }
  }
}