@import '../mixins.scss';

header {
  background-color: $white;
  min-height: $header-height;
  display: flex;
  align-items: center;

  > .container {
    align-items: center;
  }

  @include media-breakpoint(lg, max) {
    > .container {
      padding: 53px $spacing-medium $spacing-big;
    }

    .logo {
      order: 0;
    }
    .log-in-btn {
      order: 1;
    }
    .search-bar {
      order: 2;
      margin-top: 28px;
      margin-bottom: 24px;
    }

    .checkbox-wrapper {
      order: 4;

      &.active {
        order: 3;
      }
    }
  }

  .logo {
    @include big-font;

    @include media-breakpoint(lg) {
      margin-right: 105px;
    }
  }

  .search-bar {
    width: 100%;

    &::placeholder {
      color: $black;
      opacity: 1;
    }

    @include media-breakpoint(lg) {
      width: 392px;
      margin-right: $spacing-medium;
    }
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;

    &.active {
      margin-right: 32px;
    }

    label {
      order: 1;
      padding-left: 32px;
      position: relative;

      .checkbox {
        @include size(0);
        position: absolute;
        opacity: 0;
        margin: 0;

        &:checked ~ .custom-checkbox {
          background-color: $light-blue;
          border-color: $light-blue;

          &:after {
            @include size(4px, 10px);
            content: "";
            position: absolute;
            left: 9px;
            top: 4px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }

      .custom-checkbox {
        @include size(24px);
        @include absolute-vertical-center;
        left: 0;
        background-color: $white;
        border: 1px solid $medium-gray;
        border-radius: $small-radius;
      }
    }
  }

  .log-in-btn {
    margin-left: auto;
    padding: 0;

    a {
      display: block;
      padding: 11px 30px;
    }
  }
}

.products-wrapper {
  > .container {
    padding: $spacing-medium $spacing-medium $spacing-small;

    @include media-breakpoint(md) {
      padding: $spacing-xl $spacing-medium $spacing-medium;
    }
  }
}