@import '../mixins';

.modal {
  @include size(100vw, 100vh);

  background-color: rgba(0,0,0, 0.9);
  position: fixed;
  top: 0;
  left: 0;

  .modal-dialog {
    background-color: $white;
    width: 100%;
    max-width: $dialog-width;
    height: auto;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $big-radius;
    overflow: auto;

    @media (max-height: 500px){
      max-height: 80vh;
    }

    @include media-breakpoint(sm, max){
      max-width: calc(100vw - 48px);
      max-height: 80vh;
    }
  }
}