@import "../../../mixins";

.pagination {
  padding-bottom: 68px;

  @include media-breakpoint(lg) {
    padding-bottom: $spacing-xl;
  }

  ul {
    @include flex-center(null, center);
    list-style: none;

    li {
      color: $black;
      padding: 0 $spacing-xs;
      cursor: pointer;

      &.hidden {
        display: none;
        visibility: hidden;
      }

      &.disabled {
        color: $dark-gray;
        pointer-events: none;
      }

      &.dotted {
        font-size: 0;
        pointer-events: none;

        &:after {
          @include small-font;
          content: '...';
        }
      }

      &.dotted ~ .dotted {
        display: none;
      }

      &.active {
        color: $light-blue;
      }
    }
  }
}