@import '../../../mixins.scss';

.product {
  width: 100%;
  padding: 0 14px;
  margin-bottom: $spacing-medium;

  @include media-breakpoint(sm){
    max-width: 50%;
  }

  @include media-breakpoint(md){
    max-width: 33.333%;
  }

  @include media-breakpoint(lg){
    max-width: 25%;
    margin-bottom: $spacing-big;
  }

  .img-box {
    position: relative;
    height: 170px;

    img {
      @include size(100%);
      border-radius: $border-radius-top;
      object-fit: cover;
    }

    .promo-label {
      position: absolute;
      top: 16px;
      left: 0;
      background-color: $orange;
      color: #fff;
      padding: 4px $spacing-small;
    }
  }
  .content {
    padding: $spacing-small $spacing-small $spacing-medium;
    background-color: $white;
    height: 230px;
    border-radius: $border-radius-bottom;
    display: flex;
    flex-direction: column;


    .rating {
      display: flex;
      margin-bottom: $spacing-small;
      margin-top: auto;

      img {
        padding: 0 5px;
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}